.NavBar {
  background: black;
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 999;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
}

.NavBar nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.NavBar nav ul li {
  display: inline-block;
  margin: 1.5vw;
}

.NavBar nav ul li a {
  text-decoration: none;
  color: #e5e3dc;
}

.NavBar .HomeT:hover {
  border-bottom: 1px solid #ddc3f5;
}

.NavBar .AboutT:hover {
  border-bottom: 1px solid #aed4ff;
}

.NavBar .SkillsT:hover {
  border-bottom: 1px solid #b2ffc3;
}

.NavBar .WorkT:hover {
  border-bottom: 1px solid #ffe78c;
}

.NavBar .MobileNavigation {
  display: none;
}

@media (max-width: 990px) {
  .NavBar .Navigation {
    display: none;
  }
  .NavBar .MobileNavigation {
    display: flex;
    align-items: center;
    background: red;
  }
  .NavBar .MobileNavigation .Hamburger {
    position: absolute;
    right: 5%;
    cursor: pointer;
  }
  .NavBar nav ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80px;
    right: 0;
    width: 100%;
    background-color: #000000;
    border-top: 1px solid #e5e3dc;
  }

  .NavBar nav ul li {
    padding-left: 15%;
  }
  .NavBar {
    opacity: 1;
  }
  .NavBar .HomeT:hover {
    border-bottom: none;
    color: #ddc3f5;
  }

  .NavBar .AboutT:hover {
    border-bottom: none;
    color: #aed4ff;
  }

  .NavBar .SkillsT:hover {
    border-bottom: none;
    color: #b2ffc3;
  }

  .NavBar .WorkT:hover {
    border-bottom: none;
    color: #ffe78c;
  }
}
