.AboutMe .Container {
  display: flex;
  padding: 20px;
  font-size: 20px;
}

.AboutMe .Container .Text {
  width: 47%;
  margin-left: 3%;
}
.AboutMe .Container .Text h2 {
  font-weight: 900;
  font-size: 46px;
}

.AboutMe .Container .Text p {
  font-weight: 400;
  font-size: 25px;
}

.AboutMe .Container .Photo {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.AboutMe .Container .Photo .Me {
  height: 250px;
  border-radius: 10%;
}

@media (max-width: 670px) {
  .AboutMe .Container {
    /* display: flex;
    padding: 0 20px; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
  }

  .AboutMe .Container .Text {
    width: 100%;
  }
}
