.Work .Container {
  padding: 0 20px;
}

.Wrpphoto {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.PhotoSale,
.OtherWorks,
.CatPhoto {
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #e5e3dc;
}

.PhotoSale img,
.CatPhoto img,
.OtherWorks img {
  width: 25%;
  padding: 15px 15px 15px 0;
}

.PhotoSale p,
.CatPhoto p,
.OtherWorks p {
  font-size: 20px;
  padding: 0 15px;
}

.PhotoSale a,
.CatPhoto a,
.OtherWorks a {
  text-decoration: none;
  color: #4d9ffc;
  font-size: 20px;
}

.PhotoSale a:hover,
.CatPhoto a:hover,
.OtherWorks a:hover {
  color: #105ab0;
}

@media (max-width: 720px) {
  .PhotoSale,
  .OtherWorks,
  .CatPhoto {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
  }

  .PhotoSale img,
  .CatPhoto img,
  .OtherWorks img {
    width: 80%;
    padding: 10px 0;
  }
}
